<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 🔥 OBLIGATOIRE : configSections DOIT être en premier -->
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <!-- 🔥 Chaîne de connexion -->
  <connectionStrings>
    <add
      name="MyVehiculeDb"
      connectionString="Data Source=.;Initial Catalog=MyVehiculeDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- 🔥 EF6 provider -->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>